*{
   margin: 0px auto;
   
}


.banner-contain{
background-image: url(../images/banner/banner3.png);
/* position: absolute; */
width: 1600px;
height: 810px;
left: 0px;
top: 0px

}
.banner-title{
position: absolute;
width: 510px;
height: 220px;
left: 700px;
top: 200px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 75px;
text-align: right;

color: #FFFFFF;
}
.banner-paragraph{
position: absolute;
width: 350px;
height: 70px;
left: 850px;
top: 430px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: right;

color: #FFFFFF;
}
.banner-button{
position: absolute;
width: 160px;
height: 64px;
left: 1050px;
top: 550px;
border-radius: 10px;
border-color: brown;
}


.my-section{
position: absolute;
width: 1072px;
height: 723.3px;
left: 0px;
top: 939px;
}
.my-contain{
position: absolute;
width: 416px;
height: 400px;
left: 0px;
top: 10px;
}
.my-title{
position: absolute;
width: 288px;
height: 94px;
left: 650px;
top: 10px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;

/* Dark 01 */

color: #151414;
}
.my-paragraph{
position: absolute;
width: 416px;
height: 104px;
left: 650px;
top: 130px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 02 */

color: #444343;

}

.my-five{

position: absolute;
width: 349px;
height: 162px;
left: 650px;
top: 220px;

}

.my-five-title-one{
color: #970c0c;
font-weight: 400;
font-size: 16px;
width: 315px;
height: 26px;

}
.my-five-style-all-two{
color: blueviolet;
font-weight: 400;
font-size: 16px;
width: 315px;
height: 26px;
}
.my-five-style-all-three{
color: skyblue;
font-weight: 400;
font-size: 16px;
width: 315px;
height: 26px;
}
.my-five-style-all-four{
color:tomato;
font-weight: 400;
font-size: 16px;
width: 315px;
height: 26px;
}
.my-five-style-all-five{
color:orangered;
font-weight: 400;
font-size: 16px;
width: 315px;
height: 26px;
}

.my-image{
position: absolute;
width: 569px;
height: 723.3px;
left: 70px;
top: 10px;
}

.plan-title{
position: absolute;
width: 179px;
height: 47px;
left: 590px;
top: 1550px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */

text-align: center;

/* Dark 01 */

color: #151414;
}
.plan-container{
display: flex;
position: absolute;
width: 1141px;
height: 202.96px;
left: 110px;
top: 1650px;

}
.web-title{
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
}
.web-paragraph{
   font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;

/* Dark 03 */

color: #737272;
}

.extra-image-section{
position: absolute;
width: 1140px;
height: 300px;
left: 100px;
top: 1900px;
background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 97.31%);

border-radius: 20px;

}

.extra-big-title{
position: absolute;
width: 459px;
height: 182px;
left: 294px;
top: 2000px;

}
.extra-title{
   font-weight: 700;
   font-size: 40px;
   line-height: 47px;
   color: #FFFFFF;

}

.extra-button{
position: absolute;
width: 160px;
height: 64px;
left: 5px;
top: 110px;
text-align: center;
color: #005FAC;
font-weight: 600;
font-size: 20px;
}

.footer-section{
position: absolute;
width: 1600px;
height: 570px;
left: 0px;
top: 2300px;
background: #151414;
display: flex;
}

.fotter-contain{
position: absolute;
width: 485px;
height: 317px;
left: 230px;
top: 100px;
}
.fotter-title{
font-weight: 700;
font-size: 45px;
line-height: 53px;
/* identical to box height */


color: #F8F8F8;
}
.footer-paragraph{
 font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
color: #FFFFFF;
}
.fotter-email{
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #FFFFFF;

}
.fotter-phone{
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #FFFFFF;
}

.footer-image{
display: flex;
position: absolute;
width: 175px;
height: 46px;
left: 0px;
top: 200px;

}

.footer-sub-title{
position: absolute;
width: 123px;
height: 29px;
left: 890px;
top: 2400px;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
color: #FFFFFF;
}

.email-box{
position: absolute;
width: 146px;
height: 21px;
left: 900px;
top: 2450px;

font-weight: 400;
font-size: 18px;
 color: #FFFFFF;

}

.footer-button{
position: absolute;
width: 170.11px;
height: 64px;
left: 890px;
top: 2530px;

background: #005FAC;
border-radius: 8px;
}
.footer-check-box{
   
box-sizing: border-box;

position: absolute;
width: 325px;
height: 64px;
left: 890px;
top: 2450px;
color: #f3f3f3;
border: 1px solid #FFFFFF;
border-radius: 8px;
}

.box-text-all{
font-weight: 400;
font-size: 18px;
line-height: 21px;
padding: 20px;

/* Dark 07 */

color: #F3F3F3;
}